<h1> Listing posts</h1>


	<h1>Link to demo</h1>
	<%= link_to "My Blog" ,controller:"posts" %>
	
	<%= link_to 'New post', new_post_path %> #new is def post is class and path is key word

<table 
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>

	<% @posts.each do |post| %>
	<tr>
		<td><%=  post.title %> </td>
		<td> <%= post.text %> </td>
	</tr>
	<%end%>
	

</table>
